altair
asttokens
attrs
babel
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
diskcache
executing
fastjsonschema
fonttools
gitdb
GitPython
idna
import_ipynb
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline=
mdurl=
memory-profiler
narwhals
nbformat
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
seaborn
six
smmap
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib
uv
watchdog
wcwidth
